@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url("./../fonts/iran-yekan/iran-yekan-web-bold.eot");
	src: url("./../fonts/iran-yekan/iran-yekan-web-bold.eot?#iefix") format("embedded-opentype"),  /* IE6-8 */
		 url("./../fonts/iran-yekan/iran-yekan-web-bold.woff2") format("woff2"),  /* FF39+,Chrome36+, Opera24+*/
		 url("./../fonts/iran-yekan/iran-yekan-web-bold.woff") format("woff"),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("./../fonts/iran-yekan/iran-yekan-web-bold.ttf") format("truetype");
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url("./../fonts/iran-yekan/iran-yekan-web-light.eot");
	src: url("./../fonts/iran-yekan/iran-yekan-web-light.eot?#iefix") format("embedded-opentype"),  /* IE6-8 */
		 url("./../fonts/iran-yekan/iran-yekan-web-light.woff2") format("woff2"),  /* FF39+,Chrome36+, Opera24+*/
		 url("./../fonts/iran-yekan/iran-yekan-web-light.woff") format("woff"),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("./../fonts/iran-yekan/iran-yekan-web-light.ttf") format("truetype");
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url("./../fonts/iran-yekan/iran-yekan-web-regular.eot");
	src: url("./../fonts/iran-yekan/iran-yekan-web-regular.eot?#iefix") format("embedded-opentype"),  /* IE6-8 */
		 url("./../fonts/iran-yekan/iran-yekan-web-regular.woff2") format("woff2"),  /* FF39+,Chrome36+, Opera24+*/
		 url("./../fonts/iran-yekan/iran-yekan-web-regular.woff") format("woff"),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url("./../fonts/iran-yekan/iran-yekan-web-regular.ttf") format("truetype");
}
