$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

$color-primary-light: #7986cb;
$color-primary-main: #3f51b5;
$color-secondary-main: #f50057;
$color-secondary-dark: #c51162;
$color-success-main: green;
$color-orange-main: #ffa000;
$color-grey-500: rgb(180, 180, 180);
$color-grey-400: rgb(200, 200, 200);
$color-grey-300: rgb(220, 220, 220);
$color-grey-200: rgb(230, 230, 230);
$color-grey-100: rgb(240, 240, 240);
$color-grey-50: rgb(245, 245, 245);
