@mixin make-spaces($space-prefixes) {
  @each $attr-short, $attr-long in $space-prefixes {
    $max: 105;
    $step: 5;
    @for $i from 1 through ceil($max/$step) {
      $value: ($i - 1) * $step + 1;
      .#{$attr-short}#{$value - 1} {
        #{$attr-long}: #{$value - 1}#{'px'};
      }
    }
  }
}

@mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flex-column-center {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-column-reverse-center {
  @include flex-center;
  flex-direction: column-reverse;
}

@mixin flex-row-reverse-center {
  @include flex-center;
  flex-direction: row-reverse;
}

@mixin full-height {
  height: 100vh;
  min-height: 100vh;
}

@mixin full-width {
  width: 100vW;
  min-width: 100vW;
  max-width: 100vw;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}
