$space-prefixes : (
  p : padding,
  pt : padding-top,
  pr : padding-right,
  pb : padding-bottom,
  pl : padding-left,
  m : margin,
  mt : margin-top,
  mr : margin-right,
  mb : margin-bottom,
  ml : margin-left,
) !default;

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
$primary-light:#6002ee;
$primary-main: #3d00e0;
$primary-dark: #0000d6;
$secondary-light: #ef0078;
$secondary-main: #c7006e;
$secondary-dark: #880061;
$success-light: #75e900;
$success-main: #41c300;
$success-dark: #008b00;
$warning-light: #ff8d00;
$warning-main: #f47100;
$warning-dark: #e54304;
