@import "./mixins";
@import "./variables";

:root {
  --breakpoint-xs: $breakpoint-xs;
  --breakpoint-sm: $breakpoint-sm;
  --breakpoint-md: $breakpoint-md;
  --breakpoint-lg: $breakpoint-lg;
  --breakpoint-xl: $breakpoint-xl;
  --primary-light: $primary-light;
  --primary-main: $primary-main;
  --primary-dark: $primary-dark;
  --secondary-light: $secondary-light;
  --secondary-main: $secondary-main;
  --secondary-dark: $secondary-dark;
  --success-light: $success-light;
  --success-main: $success-main;
  --success-dark: $success-dark;
  --warning-light: $warning-light;
  --warning-main: $warning-main;
  --warning-dark: $warning-dark;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  caret-color: transparent;
  outline: none;
}

html, body, #__next {
  @include full-height;
  @include full-width;
}

body {
  padding: 0px;
}

body:focus {
  outline: none;
}

input, textarea {
  caret-color: black;
}

a {
  text-decoration: none;
}

input, fieldset, legend, div, p, a, button, span, h1, h2, h3, h4, h5, h6, li {
  font-family: iranyekan;
}
