@import "./mixins";

*, *::after, *::before {
  @include no-space;
  box-sizing: border-box;
  caret-color: transparent;
  outline: none;
}

html, body, #__next {
  @include full-height;
  @include full-width;
}

body {
  padding: 0px;
}

body:focus {
  outline: none;
}

input, textarea {
  caret-color: black;
}

a {
  text-decoration: none;
}

input, fieldset, legend, div, p, a, button, span, h1, h2, h3, h4, h5, h6, li {
  font-family: iranyekan;
}
